<ion-header>
  <ion-toolbar>
    <ion-title>catalog-create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" (change)="onFileChange($event)" multiple="false" />
  <ion-item>
    <ion-label position="fixed">ID:</ion-label>
    <ion-input [(ngModel)]="newCatalog.id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Order date:</ion-label>
    <ion-input [(ngModel)]="newCatalog.orderDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Delivery date:</ion-label>
    <ion-input [(ngModel)]="newCatalog.deliveryDate"></ion-input>
  </ion-item>
  <ion-item>
    <button (click)="save()">Create Catalog!</button>
  </ion-item>

  <ion-list>
    <ion-item-group>
      <ng-template ngFor let-product let-c="count" let-isFirst="first" [ngForOf]="products">
        <ion-item-divider sticky *ngIf="product.guiOrder == 0"><h1>{{ product.category }}</h1></ion-item-divider>
        <ion-item no-padding>
            <ion-label class="ion-text-wrap grocery-item-title">
              <ion-text color="primary">
                <h2>{{ product.name }}</h2>
              </ion-text>
              <p>{{ product.price }} {{ product.currency }}/{{ product.priceUnit }}</p>
              <ion-text>
                <p>{{ product.origin }}</p>
              </ion-text>
            </ion-label>
        </ion-item>
      </ng-template>
    </ion-item-group>
  </ion-list>






		<!--ion-list>
      <ion-item *ngFor="let grocery of products">
        <ion-col>
          <ion-label class="ion-text-wrap grocery-item-title">
            <ion-text color="primary">
              <h2>{{ grocery.name }}</h2>
            </ion-text>
            <p>{{ grocery.price }} {{ grocery.currency }}/{{ grocery.priceUnit }}</p>
            <ion-text>
              <p>{{ grocery.origin }}</p>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>
		</ion-grid-->

</ion-content>
