<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
      <ion-button [routerLink]="['/manage-order', prevOrderWeek]" slot="start">
        <ion-icon slot="icon-only"  name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{orderWeek}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/manage-order', nextOrderWeek]" >
        <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button color="tertiary">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar color="dark" debounce="400" [(ngModel)]="searchTerm" (ionChange)="search($event.detail.value)" [placeholder]="translate.get('productlist.search')" focus cancelButtonText="Custom Cancel" animated></ion-searchbar>
</ion-header>

<ion-content>
        <ion-card class="group-card">
            <ion-card-header>
              <ion-card-subtitle>{{orderWeek}} - {{nrOfProducts}}</ion-card-subtitle>
              <ion-card-title>{{groupId}} - {{familyId}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <p *ngIf="deliveryDates">
              L'ordine viene chiuso {{deliveryDates[0] | date:'fullDate'}} alle 12:00.
              La consegna verrà effettuata {{deliveryDates[1] | date:'fullDate'}} alle 14:00
            </p>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="nrOfProducts == 0">
              <ion-card-header>
                  <ion-card-title color="danger">Non ci sono prodotti per questa settimana</ion-card-title>
                </ion-card-header>
          </ion-card>
      
     

      <ion-list>
          <ion-item-group>
            <ng-template ngFor let-product let-c="count" let-isFirst="first" [ngForOf]="filteredGroceryItems$ | async">
                <ion-item-divider sticky *ngIf="product.guiOrder == 0"><h1>{{ product.category }}</h1></ion-item-divider>
                <app-grocery-item [grocery]="product" [readOnly]="false" (updateQty)="updateQty(product, $event)"></app-grocery-item>
            </ng-template>
          </ion-item-group>
      </ion-list>
</ion-content>
