<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
      <ion-button [routerLink]="['/manage-order', prevOrderWeek]" slot="start">
        <ion-icon slot="icon-only"  name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{orderWeek}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/manage-order', nextOrderWeek]" >
        <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button color="tertiary" (click)="toggleshowBasketOnly()">
        <ion-icon slot="icon-only" *ngIf="!showBasketOnly()" name="cart-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="showBasketOnly()" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar color="dark" debounce="400" [(ngModel)]="searchTerm" (ionChange)="search($event.detail.value)" [placeholder]="translate.get('productlist.search')" focus cancelButtonText="Custom Cancel" animated></ion-searchbar>
  <ion-segment *ngIf="!searchTerm && !showBasketOnly()" scrollable [(ngModel)]="visibleCategoryGroup" (ionChange)="segmentChanged($event)">
      <ion-segment-button [value]="group" *ngFor="let group of categoryGroups">
        <ion-label> <span *ngIf="group.indexOf('+')>0">
                      {{group.split('+')[0]}}<br/>{{group.split('+')[1]}}  
                    </span>
                    <span *ngIf="group.indexOf('+') == -1"> {{group}}</span></ion-label>
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
        <ion-card class="group-card">
            <ion-card-header>
              <ion-card-subtitle>{{orderWeek}} - {{nrOfProducts}}</ion-card-subtitle>
              <ion-card-title>{{groupId}} - {{familyId}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <p *ngIf="deliveryDates">
              L'ordine viene chiuso {{deliveryDates[0] | date:'fullDate'}} alle 12:00.
              La consegna verrà effettuata {{deliveryDates[1] | date:'fullDate'}} alle 14:00
            </p>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="nrOfProducts == 0">
              <ion-card-header>
                  <ion-card-title color="danger">Non ci sono prodotti per questa settimana</ion-card-title>
                </ion-card-header>
          </ion-card>
          
      <ion-list>
          <ion-item-group>
            <ng-template ngFor let-product let-i="index" let-c="0" let-isFirst="first" [ngForOf]="filteredGroceryItems$ | async">
                <ion-item-divider sticky *ngIf="showCategory(product)" 
                                  class="ion-padding-end"
                                  color="primary"
                                  (click)="expandedCategories[product.category] = !expandedCategories[product.category]">
                  <h1>{{ product.category }}</h1><a [id]="product.category">.</a>
                  <ion-badge slot="end" color="tertiary" class="category-title">{{getCategoryCounter(product.category)}}</ion-badge>
                  <ion-icon slot="end" name="chevron-down" *ngIf="!expandedCategories[product.category]"></ion-icon>
                  <ion-icon slot="end" name="chevron-up" *ngIf="expandedCategories[product.category]"></ion-icon>
                </ion-item-divider>
                <div *ngIf="!hideProduct(product)" class="grocery-item" [ngClass]="!showBasketOnly() && i%2 != 0 ? 'grocery-item-even' : 'grocery-item-odd'">
                  <app-grocery-item  [grocery]="product" [readOnly]="showBasketOnly()" (updateQty)="updateQty(product, $event)"></app-grocery-item>
                </div>
            </ng-template>
          </ion-item-group>
      </ion-list>
</ion-content>
