.group-card {
    margin-top: 5px;
    margin-bottom: 5px;
}

.category-title {
    margin-right: 10px;
}

.grocery-item-odd {
    background-color: white;

}
.grocery-item-even {
    background-color: #9bda3e1c;
}