<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Note ritiro merce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="group-card" *ngIf="groupId">
    <ion-card-header>
      <ion-card-subtitle>
        {{ orderWeek }} - {{ groupId }} - {{ familyId }}
      </ion-card-subtitle>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Quantità ordinata</ion-label>
        <ion-note color="primary" slot="end">
          {{ item.qty }} {{ item.orderUnit }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Prezzo</ion-label>
        <ion-note slot="end">
          {{ item.price | number:'1.2-2'}} {{ item.currency }}/{{ item.priceUnit }}
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Non ho ritirato la merce</ion-label>
    <ion-toggle [(ngModel)]="notTaken"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="!notTaken">
    <ion-label>Quantità reale ritirata</ion-label>
    <ion-input
      slot="end"
      class="input-real-qty"
      type="number"
      [(ngModel)]="realQty"
      required="true"
    ></ion-input>
    <ion-note slot="end">
      {{ item.priceUnit }}
    </ion-note>
    
  </ion-item>
  <ion-item *ngIf="!notTaken && realQty">
      <ion-label>Prezzo reale</ion-label>
      <ion-note slot="end">
       {{getRealPrice()}}
      </ion-note>
    </ion-item>
  <ion-item>
    <ion-label position="floating">Commento</ion-label>
    <ion-input type="text" [(ngModel)]="comment"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="danger" slot="start" (click)="dismiss()">
      Annulla
    </ion-button>
    <ion-button color="success" slot="end" (click)="submit()">
      Conferma
    </ion-button>
  </ion-item>
</ion-content>
