<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="tertiary"></ion-menu-button>
        <ion-button (click)="previousWeek()" slot="start">
          <ion-icon slot="icon-only"  name="arrow-back-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{orderWeek}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="nextWeek()" >
          <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
        </ion-button>
        <ion-button color="tertiary">
            <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="group-card" *ngIf="groupId">
        <ion-card-header>
          <ion-card-subtitle>{{orderWeek}}</ion-card-subtitle>
          <ion-card-title>{{groupId}} - {{families.length}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p *ngIf="deliveryDates">
          L'ordine viene chiuso {{deliveryDates[0] | date:'fullDate'}} alle 12:00.
          La consegna verrà effettuata {{deliveryDates[1] | date:'fullDate'}} alle 14:00
        </p>
        </ion-card-content>
      </ion-card>

  <ion-item *ngFor="let item of groupWeekOrder$ | async">
    <ion-label>{{item.name}}</ion-label>
    <ion-badge color="success">{{item.qty}} {{item.orderUnit}}</ion-badge>
    <ion-badge color="danger">{{item.members}}</ion-badge>
  </ion-item>
</ion-content>
