.grocery-item-odd {
    background-color: white;

}
.grocery-item-even {
    background-color: #9bda3e1c;
}

.grocery-item {
    background-color: white;
    border-width: 1px;
    border-bottom-color: #a9a9a9;
    border-bottom-style: solid;
}