<ion-list lines="full" class="grocery-item">
  <ion-item lines="none" [ngClass]="{'ion-activated': grocery.qty > 0}">
    <ion-label class="ion-text-wrap grocery-item-title">
      <ion-text color="primary">
        <h2>{{ grocery.name }}</h2>
      </ion-text>
      <p>{{ grocery.price }} {{ grocery.currency }}/{{ grocery.priceUnit }}</p>
      <ion-text>
        <p>{{ grocery.origin }}</p>
      </ion-text>
    </ion-label>
    <ion-note slot="end" color="dark" class="ion-text-end grocery-item-qty">
        {{ grocery.qty }} {{ grocery.orderUnit }}
    </ion-note>
  </ion-item>

  <ion-item lines="full" [ngClass]="{'ion-activated': grocery.qty > 0}">
    <ion-button class="grocery-button" color="dark" slot="start" (click)="grocery.qty = 0">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    <ion-label slot="end" class="ion-text-end">
      <ion-text >{{grocery.qty * grocery.price}} CHF</ion-text>
    </ion-label>
    <ion-button class="grocery-button mr10" color="danger" slot="end" (click)="removeQty()">
      <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
    </ion-button>
    <ion-button class="grocery-button" color="success" slot="end" (click)="addQty()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
</ion-item>
</ion-list>
