.grocery-item-title {
    margin-bottom: 2px;
}

.grocery-item-qty {
    font-size: 24px;
}

.grocery-button {
    margin-left: 0px;
    margin-right: 0px;
}

.button-small {
    height: 34px;
}

.mr10 {
    margin-right: 10px;
}