<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'crudlist.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let p of pages" [routerLink]="[p.url]">
    <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
    <ion-label>
      <ion-text color="primary">{{p.title}}</ion-text>
    </ion-label>
  </ion-item>
</ion-content>
