<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add products</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="done()">Done</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="dark" debounce="400" [(ngModel)]="searchTerm" (ionChange)="search($event.detail.value)" [placeholder]="translate.get('productlist.search')" focus cancelButtonText="Custom Cancel" animated></ion-searchbar>
  <ion-list class="ion-no-padding">
    <ion-virtual-scroll [items]="filteredProducts$ | async" approxItemHeight="40px">
      <ion-item lines="none" color="light" *virtualItem="let product; let itemBounds = bounds;">
        <ion-label>
          <h3>
            <ion-text color="primary"><strong>{{ product?.name }} - {{ product?.origin }}</strong></ion-text>
          </h3>
          <h4>
              <ion-text color="primary"><strong>{{ product?.category }} </strong></ion-text>
            </h4>
          <h4>
            <ion-text color="primary">{{ product?.price }} {{ product?.currency }}/{{ product?.priceUnit }}</ion-text>
          </h4>
        </ion-label>
        <ion-icon name="star-outline" (click)="selectProduct(product)" *ngIf="!isSelected(product)"></ion-icon>
        <ion-icon name="star" (click)="deselectProduct(product)" *ngIf="isSelected(product)"></ion-icon>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>

</ion-content>
